<div class="container-fluid bg-secondary darken">
  <div class="d-flex flex-inline justify-content-between">
    <div class="navbar-header p-2">
      <a href="/" class="navbar-brand text-success">Angular App</a>
    </div>
    <div class="d-flex align-items-center">
      <li class="nav navbar-nav p-2">
        <a href="/tech" routerLinkActive="active" class="text-success">Tech</a>
      </li>
      <li class="nav navbar-nav p-2">
        <a href="/companies" routerLinkActive="active" class="text-success">Companies</a>
      </li>
      <li class="nav navbar-nav p-2">
        <a href="/people" routerLinkActive="active" class="text-success">People</a>
      </li>
      <li class="nav navbar-nav p-2">
        <a href="/mongo" routerLinkActive="active" class="text-success">MONGO</a>
      </li>
      <li class="nav navbar-nav p-2">
        <a href="/store" routerLinkActive="active" class="text-success">NGRX</a>
      </li>
      <li class="nav navbar-nav p-2">
        <a href="/readme" routerLinkActive="active" class="text-success">Read Me</a>
      </li>
    </div>
  </div>
</div>
